* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: cursive, courier new;
    font-size: 14px;
}

.button{
    position: absolute;
    vertical-align: middle;
    margin-top: 50px; width: 100%;
    margin: 0 auto;
    height: 100px;
    text-align: center
}

#inspiration{
    background-color: red;
    color: white;
    margin-top: 30px;
    vertical-align: middle;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    border: 2px solid black;
    box-shadow:
}

button:focus {outline:0;}

#inspiration:hover{
    cursor: pointer;
}

.multi-list{
    width: 250px;
    vertical-align: top;
    display: inline-block;
    padding: 0 10px 0 20px;
    margin: 0 auto;
}

.date, .subhead{
    text-align: center;
}

.date, .blog{
    width: 60%;
    margin: 0 auto;
}

.blog{
    text-align: justify;
    padding-top: 10px;
}

.subhead{
    font-size: 26px;
    font-weight: bold;
    font-family: impact, fantasy;
    height: 40px;
}

.background-image{
    width: 100%;
    height: auto;
}

.date{
    width: 100%;
    font-family: impactLabelReversed, courier new;
    font-weight: bold;
    font-size: 22px;
    padding-top: 25px;
    margin-bottom: 15px;
    border-bottom: 1px solid black;
}

.application{
    padding: -10px 0px -20px 0px;
    width: 80%;
    margin: 25px auto 0 auto;
    font-family: courier new;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid black;
    text-align: center;
}

.post, .list{
    font-family: courier new
}

.shortcuts{
    background-color: #F2F2F2;
    width: 80%;
    margin: 0 auto 25px auto;
    border: 2px solid #D6D6D6;
    border-top: none;
    text-align: left;

}

.project-container{
    width: 70%;
    margin: 50px auto 40px auto;
    text-align: center;
}

.project {
    background-color: #F2F2F2;
    display: inline-block;
    border: 1px solid #D6D6D6;;
    width: 300px;
    height: 250px;
    margin: 20px 20px;
    top: 50%;
}

.project:hover {
    opacity: 0.5;
}

.label {
    display: inline-block;
    vertical-align: middle;
}

.list {
    padding: 20px 0;
    width: 70%;
    margin: 0 auto;
}
.container{
    margin: 0 auto;
}

.nav {
    margin: -21px;
    white-space: nowrap;
    font-size: 16px;
}

.top-nav {
    overflow: auto;
    padding-top: 12px;
    background-color: #A2BFBF;
    height: 196px ;
}

img{
    margin-top: 10px;
    height: 150px;
    text-align: center;
}

.profile-image{
    width: 45%;
    float: left;
    text-align: right;
}

.profile-details{
    width: 55%;
    float: left;
    margin-top: 37px;
    padding: 0 1em;
    text-align: center;
    width: 360px;
}

.profile-details > h1{
    white-space: nowrap;
    font-size: 50px;
    display: inline;
}

.quotes {
    padding: 1.5em 0;
    border: 1.5px solid black;
    border-left: none;
    border-right: none;
}

.quote-container {
    width: 400px;
    margin: 0 auto;
}

.contact {
    display: none;
    text-align: center;
    background: #000
}

.tooltip {
    display:none;
    position:absolute;
    border:1px solid #333;
    background-color:#161616;
    border-radius:5px;
    padding:10px;
    color:#fff;
    font-size:12px Arial;
}

a, em {
    text-decoration: none;
    color: #364040;
}

a:hover, em:hover {
    color: #6C7F7F;
}