* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: cursive, courier new;
    font-size: 14.5px;
}

a, em {
    text-decoration: none;
    color: #364040;
}

a:hover, em:hover {
    color: #6C7F7F;
}

button:focus {outline:0;}

#space {
    display: none;
    height: 198px;
}
#toTop {
    width:64px;
    height:64px;
    text-align:center;
    position:fixed;
    top:30px;
    left:7%;
    cursor:pointer;
    border-radius: 50%;
    background-image:url('https://addons.opera.com/media/extensions/75/24075/1.1-rev1/icons/icon_64x64.png');
}

.button{
    margin-top: 50px; width: 100%;
    margin: 0 auto;
    text-align: center
}

#inspiration{
    background-color: red;
    color: white;
    margin-top: 20px;
    width: 150px;
    border-radius: 100px;
    border: 2px solid black;
    font-size: 15px;
}

#inspiration:hover{
    cursor: pointer;
}

.date {
    float: right;
    border-bottom: none;
    padding: 0 5px 0 5px;
    z-index: 1;
}

.multi-list{
    width: 85%;
    vertical-align: top;
    display: inline-block;
    padding: 0 10px 0 20px;
    margin: 0 auto;
}

.subhead, .title{
    text-align: center;
}

.blog, .title{
    width: 62%;
    margin: 0 auto;
}

.blog{
    text-align: justify;
    padding-top: 10px;
}

.subhead{
    font-size: 26px;
    font-weight: bold;
    font-family: impact, fantasy;
    height: 40px;
}

.background-image{
    width: 100%;
    height: auto;
}

.title{
    width: 100%;
    font-family: impactLabelReversed, courier new;
    font-weight: bold;
    font-size: 22px;
    border-bottom: 2px dotted black;
    margin: 40px 0 20px 0;
    text-align: left;
}

.application{
    padding: -10px 0px -20px 0px;
    width: 83%;
    margin: 25px auto 0 auto;
    font-family: courier new;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid black;
    text-align: center;
}

.post, .list{
    font-family: courier new;
}

.shortcuts{
    background-color: #F2F2F2;
    width: 83%;
    margin: 0 auto 25px auto;
    border: 2px solid #D6D6D6;
    border-top: none;
    text-align: left;
    box-shadow: 7px 7px 5px #888888;
}

.project-container{
    width: 70%;
    margin: 50px auto 40px auto;
    text-align: center;
}

.project {
    background-color: #F2F2F2;
    display: inline-block;
    border: 1px solid #D6D6D6;;
    width: 300px;
    height: 250px;
    margin: 20px 20px;
    top: 50%;
}

.project:hover {
    opacity: 0.5;
}

.label {
    display: inline-block;
    vertical-align: middle;
}

.list {
    padding: 17px 0;
    width: 85%;
    margin: 0 auto;
}
.container{
    margin: 0 auto;
}

.nav {
    margin: -21px;
    white-space: nowrap;
    font-size: 16px;
}

.nav-scroll{
    width: 100%;
    margin: 0 auto;
    float: right;
    top: 0px;
    padding: 0;
    font-size: 22px;
}

.top-nav {
    overflow: auto;
    padding-top: 12px;
    background-color: #A2BFBF;
    height: 196px;
    border-bottom:8px solid #f4f5f8;
}

.top-nav-scroll {
    height: 70px;
    position: fixed;
    width: 100%;
    opacity:0.95;
}

img{
    margin-top: 12.5px;
    height: 145px;
}

.profile-image{
    width: 44%;
    float: left;
    text-align: right;
}

.profile-details{
    width: 56%;
    float: left;
    margin-top: 37px;
    padding: 0 1em;
    text-align: center;
    width: 360px;
}

.profile-details-scroll{
    width: 100%;
    margin: 0 auto;
}

.profile-details > h1{
    white-space: nowrap;
    font-size: 50px;
    display: inline;
}

.quotes {
    padding: 1.5em 1.5em;
    border: 1.5px solid black;
    width: 38em;
    margin: 7em auto 0 auto;
    box-shadow: 10px 10px 5px #888888;
}

.quote-container {
    margin: 0 auto;
    font-size: 22px;
}

.contact {
    display: none;
    text-align: center;
    background: #000
}

.tooltip {
    display:none;
    position:absolute;
    border:1px solid #333;
    background-color:#161616;
    border-radius:5px;
    padding:10px;
    color:#fff;
    font-size:12px Arial;
}

